<ion-view view-title="Company">
  <ion-content>
    <img src="img/company_logos/logo1.png" class="companyLogo" >
    <div class="list">
        <div class="item item-divider">
          Company Details
        </div>

        <a class="item" href="#">
          Company Name:
        </a>

        <a class="item" href="#">
          Registration Num:
        </a>

        <a class="item" href="#">
          Tax Num:
        </a>

        <a class="item" href="#">
          Psira Num:
        </a>

        <div class="item">
          Phisical Address:
        </div>

        <a class="item" href="#">
          Postal Address:
        </a>

        <a class="item" href="#">
          Email:
        </a>

        <a class="item" href="#">
          Tel:
        </a>

        <a class="item" href="#">
          Specializeing In:
        </a>
      </div>
  </ion-content>
</ion-view>
<style type="text/css">
.companyLogo{
	width: 60%;
	margin: 10px;
}
</style>