<ion-view view-title="Ghea Menu">
  <ion-content>
    <ion-list>
		<div class="card">
			<div class="row">
				<div class="col">
				  	<i class="icon ion-person profile-pic"></i>
				</div>
				<div class="col col-75">
				  	<div class="col-demo">Glen Mabena</div>
				  	<div class="col-demo">Grade: B</div>
				  	<div class="col-demo">Smarter Security</div>
				</div>
			</div>
		</div>
		<div class="list card">
		  <a class="item item-icon-left" href="#/app/messagings">
		    <i class="icon ion-email"></i>
		    Messaging
		    <span class="badge badge-positive">1</span>
		  </a>
		  <a class="item item-icon-left item-icon-right" href="#/app/time_sheets">
		    <i class="icon ion-calendar"></i>
		    Time Sheets
		    <i class="icon ion-ios7-telephone-outline"></i>
		  </a>
		  <a class="item item-icon-left" href="#/app/patrols">
		    <i class="icon ion-eye"></i>
		    Patrols
		    <span class="item-note">
		      Patrol Feed
		    </span>
		  </a>
		  <a class="item item-icon-left" href="#/app/incidents">
		    <i class="icon ion-alert-circled"></i>
		    Incidents
		    <span class="badge badge-assertive">0</span>
		  </a>
		  <a class="item item-icon-left" href="#/app/guest_books">
		    <i class="icon ion-clipboard"></i>
		    Guest Books
		  </a>
		  <a class="item item-icon-left" href="#/app/help">
		    <i class="icon ion-information-circled"></i>
		    Help
		  </a>
		</div>
    </ion-list>
  </ion-content>
</ion-view>