<ion-view view-title="Ghea Messenger">
  <ion-content>
    <ion-list>
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
      </div>
      <div class="list card">
        <a class="item item-icon-left" href="#/app/messages" >
          <i class="icon ion-person message-pic"></i><h2>Sbu Ndlovu</h2>
        </a>
      </div>
      <div class="list card">
        <a class="item item-icon-left" href="#/app/messages" >
          <i class="icon ion-person message-pic"></i><h2>Kabelo Kgwete</h2>
        </a>
      </div>
      <div class="list card">
        <a class="item item-icon-left" href="#/app/messages" >
          <i class="icon ion-person message-pic"></i><h2>Tshepo Kolo</h2>
        </a>
      </div>          
    </ion-list>
  </ion-content>
</ion-view>