<ion-view view-title="Ghea Patrols">
  <ion-content>
    <ion-list>
		<div class="list card">
			<div class="row">
				<div class="col">
				  	<i class="icon ion-person profile-pic"></i>
				</div>
				<div class="col col-75">
				  	<div class="col-demo">Name: Glen Mabena</div>
				  	<div class="col-demo">Grade: B</div>
				  	<div class="col-demo">Smarter Security Patrols for Site 1</div>
				</div>
			</div>
		</div>      
		<div class="list">
		  <div class="item item-divider">
		    Today, Saturday April 18, 2015
		  </div>
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-flag"></i>
		    <span class="checkpointDescription">Checkpoint 1. Parking Floor </span><br/>
		    <span class="badge badge-assertive checkpointStatus">missed</span>
		  </a>			
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-flag"></i>
		    <span class="checkpointDescription">Checkpoint 2. First Floor </span><br/>
		    <span class="badge badge-balanced checkpointStatus">cleared</span>
		  </a>
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-flag"></i>
		    <span class="checkpointDescription">Checkpoint 3. Second Floor </span><br/>
		    <span class="badge badge-balanced checkpointStatus">cleared</span>
		  </a>
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-flag"></i>
		    <span class="checkpointDescription">Checkpoint 4. Third Floor </span><br/>
		    <span class="badge badge-positive checkpointStatus">pending</span>
		  </a>
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-flag"></i>
		    <span class="checkpointDescription">Checkpoint 5. Fifth Floor </span><br/>
		    <span class="badge badge-positive checkpointStatus">pending</span>
		  </a>
		</div>
    </ion-list>
  </ion-content>
</ion-view>
