<ion-view view-title="Sites">
  <ion-content>
    <ion-list>
      <div class="list card">
        <div class="item">
          <h2>Site Name: Aphla Sites</h2>
          <p>Site Type: Office Blocks</p>
        </div>
        <div class="item item-image">
          <img src="img/sites/site1.jpg">
        </div>
        <div class="item">
          <h2>Size (Km2): 1111 km2</h2>
          <p>Site Code: 9B86</p>
        </div>
      </div>
      <div class="list card">
        <div class="item">
          <h2>Site Name: City Mall</h2>
          <p>Site Type: Mall</p>
        </div>
        <div class="item item-image">
          <img src="img/sites/site2.jpg">
        </div>
        <div class="item">
          <h2>Size (Km2): 21400 km2</h2>
          <p>Site Code: 2687</p>
        </div>
      </div>      
    </ion-list>
  </ion-content>
</ion-view>