<ion-view view-title="Ghea Time Sheet">
  <ion-content>
    <ion-list>
      <div class="list card">
        <div class="item">
          <h2>Today, Saturday April 18, 2015</h2>
        </div>
      </div>
      <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">00</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>      
      <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">01</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>
      <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">02</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>
	  <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">03</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>	  
	  <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">04</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>
      <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">04</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>
      <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">05</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>
	  <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">06</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>	  
	  <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">07</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>
      <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">08</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>
      <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">09</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>
	  <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">10</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>	  
	  <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">11</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>
      <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">12</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>
      <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">13</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>
	  <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">14</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>	  
	  <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">15</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>
      <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">16</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>
      <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">17</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>
	  <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">18</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>	  
	  <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">19</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>	
      <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">20</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>
      <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">21</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>
	  <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">22</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>	  
	  <a class="row item item-badge-left" href="#">
	    <span class="col dayHolder">23</span>
	    <span class="col col-90 dayContent">Check Shifts</span>
	  </a>		    	  	  	  
    </ion-list>
  </ion-content>
</ion-view>
<style type="text/css">
.dayContent{
	padding-left: 10px;
}

.dayHolder{
  border-right: rgb(221, 221, 221) solid 1px;
}
</style>